# === Archivos de reportes de k6 ===
reports/
*.html
*.json

# === Archivos temporales y logs ===
*.log
*.tmp

# === Archivos del sistema (Windows) ===
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# === Configuración de IntelliJ IDEA ===
.idea/
*.iml
out/

# === Node.js (si algún día usas librerías JS) ===
node_modules/

# === Archivos de entorno ===
.env
